#textarea{
  font-family: 'Open Sans', Helvetica, Arial, open-sans;
  width:100%;
  box-sizing:border-box;
  padding:0px;
  margin-top:20px;
  border:0 none;
  float:left;
  min-height:100px;
}

#textarea:hover{
  border:1px solid red;
}
