.container
  %h1 Trofy <small>&trade;</small>
  %p Trofy is a clean and simple way to show off your PlayStation 3&trade; trophies.
  .row-fluid
    .span6.card
      %h2 Get Started
      %p Enter your <em>PlayStation Network&trade;</em> account name to begin:
      %form.form-inline
        %input.input-medium.text-center(type="text" placeholder="PSN Account")
        %button.btn.btn-primary
          Fetch Trophies
