.container
  %h1 Payj<small>&trade;</small>
  %p Payj<small>&trade;</small> is a clean and simple way to write down your ideas. Any time.
  .row-fluid
    .span12.card
      %form.form-vertical
        #toolbar(style="display: none;")
          %a.wys-icon(data-wysihtml5-command="bold" title="CTRL+B")
            %img(src="/assets/icons/dark/Settings.png" width="28" height="28")
          %a.wys-icon(data-wysihtml5-command="italic" title="CTRL+I")
            %img(src="/assets/icons/dark/List.png" width="28" height="28")
          %a.wys-icon(data-wysihtml5-action="change_view")
            %img(src="/assets/icons/dark/Navigation.png" width="28" height="28")
        %textarea#textarea(placeholder="Enter text ...")
        .control-group
          %button.btn.btn-primary
            Save


