@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/OpenSans-Light.woff) format('woff'), url(/assets/OpenSans-Light.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/OpenSans-Regular.woff) format('woff'), url(/assets/OpenSans-Regular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(/assets/OpenSans-Semibold.woff) format('woff'), url(/assets/OpenSans-Semibold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  
  src: url(/assets/OpenSans-Bold.woff) format('woff'), url(/assets/OpenSans-Bold.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(/assets/OpenSans-LightItalic.woff) format('woff'), url(/assets/OpenSans-LightItalic.ttf) format('ttf');
}
